<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/footer.css">

</head>

<body>

<nav >
    <div class="navigation">
        <div class="nav-container">
            <nav class="nav-checkbox">
                <a  href="/home" class="logo">Home</a>
                <input id="tab-nav" , type="checkbox" class="tab-nav">
                <label for="tab-nav" class="tab-nav-label">Menu</label>
                <ul class="tab-content">

                    <th:block sec:authorize="!isAuthenticated()">
                        <li><a th:href="@{/users/login}">Login</a></li>
                        <li><a th:href="@{/users/register}">Register</a></li>
                        <li><a th:href="@{/about}">About us</a></li>
                    </th:block>

                    <th:block sec:authorize="isAuthenticated()">
                        <li><a th:href="@{#}"></a></li>
                        <li><a th:href="@{/users/my-profile}">My profile</a></li>
                        <li><a th:href="@{/places/add-place}">Add new place</a></li>
                        <li><a th:href="@{/places/all-places}">All place</a></li>
                        <li><a th:href="@{/statistics}" sec:authorize="hasRole('ADMIN')">Statistics</a></li>
                        <li><a th:href="@{/block-ip-addresses}" sec:authorize="hasRole('ADMIN')">Block IP</a></li>
                        <li>
                            <a>
                                Welcome, <th:block sec:authentication="name"></th:block>
                            </a>
                        </li>


                        <li>
                            <a >
                                <form th:action="@{/users/logout}" th:method="POST">
                                    <input id="logout-btn"  type="submit" value="Logout">
                                </form>
                            </a>
                        </li>




                        <!--                        <li><a th:href="@{/users/logout}">Logout</a></li>-->

                    </th:block>

                </ul>
            </nav>
        </div>
    </div>
</nav>


<div class="split-screen">

    <div class="left">
        <section class="copy">
            <h1>Login to our website</h1>
            <p>A lot of 100 beautiful place of all world!</p>
        </section>
    </div>

    <div class="right">
        <form
                th:action="@{/users/login}"
                th:method="post"


        >
            <section class="copy">
                <h2>Login</h2>
                <div class="login-container">
                    <p>Don't have account?<a href="/users/register">
                        <strong>Register</strong> </a>
                    </p>
                </div>
            </section>

            <h2 class="bg-danger rounded" th:if="${bad_credentials}">Enter valid username and password!</h2>

            <div class="input-container email">
                <label>Username</label>
                <input th:value="${userName}" name="username" type="text" placeholder="Username">
                <small class="bg-danger text-light rounded">
                </small>
            </div>

            <div class="input-container password">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" placeholder="Must be at least 4 characters">
                <small class="bg-danger text-light rounded">
                </small>
            </div>
            <button class="signup-button" type="submit">Login</button>

        </form>
    </div>
</div>

<footer id="footer" >
    All rights reserved! &copy; Developed by Stoyan Delev!
    <a class="iconsFooter" href="https://github.com/stoiandelev" target="_blank">
        <ion-icon name="logo-github"></ion-icon>
    </a>
    <a class="iconsFooter" href="https://www.linkedin.com/in/stoyan-delev/" target="_blank">
        <ion-icon name="logo-linkedin"></ion-icon>
    </a>
    <a class="iconsFooter" href="https://twitter.com/DelevStoian" target="_blank">
        <ion-icon name="logo-twitter"></ion-icon>
    </a>
    <a class="iconsFooter" href="https://www.facebook.com/stoian.delev.9" target="_blank">
        <ion-icon name="logo-facebook"></ion-icon>
    </a>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</footer>

</body>

</html>